<div>
  <h1>Director #<%= @director.id %></h1>
</div>

<dl>
  <dt>Dob</dt>
  <dd><%= @director.dob %></dd>

  <dt>Name</dt>
  <dd><%= @director.name %></dd>

  <dt>Bio</dt>
  <dd><%= @director.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @director.image_url %>" width="320"></dd>
</dl>

<a href="/directors/<%= @director.id %>">Show</a>
<a href="/directors/<%= @director.id %>/edit_form">Edit</a>
<a href="/delete_director/<%= @director.id %>">Delete</a>
